@import url('https://fonts.googleapis.com/css?family=Dosis|PT+Sans+Narrow&display=swap');

body {
  position: absolute;
  background-color: rgb(211, 177, 219);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.title {
  background-color: rgb(107, 52, 107);
  padding: 5px 10px;
}

h2 {
  color: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 24px;
}

#cats {
  text-align: center;
}

img {
  position: relative;
  width: 200px;
  height: 250px;
  left: 50%;
}
